@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root{
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --vermelho-titulo: #EC2F46;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;

    --fonte-principal: 'Inter', sans-serif;
}

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    
}

.principal{
    background-image: url(img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container{
    height: 90vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__titulo{
    font-size: 1.75rem;
    font-weight: 700;
}

.container__imagem{
    margin: 1em 0 2em 0;
}

.container__botao{
    background-color: var(--botao-azul);
    border-radius: 8px;
    padding: 1em;
    text-decoration: none;
    color: var(--branco-principal);
    display: block;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1em;

}

.container__caixa{
    margin: 0 6em;
}

.container__botao__secundario{
    background-color: transparent;
    border-radius: 8px;
    border: 2px solid;
    padding: 1em;
    text-decoration: none;
    color: var(--branco-principal);
    display: block;
    font-size: 1rem;
    font-weight: 400;
}

.container__aviso{
    color: var(--cinza-secundario);
    font-size: 0.75rem;
    font-weight: 400;
    margin: 1em 0;
}

.container__imagem__secundario{
    width: 80%;
}

.secundario{
    align-items: center;
    margin: 0 10em;
}

.container__descricao__titulo{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0.1em;
}

.container__descricao__texto{
    color: var(--cinza-secundario);
    font-size: 0.75rem;
    font-weight: 400;
}

.secundario__botao{
    display: inline-block;
    margin-top: 1em;
}

.dispositivos__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos{
    text-align: center;
    
}

.dispositivos__titulo{
    font-size: 3rem;
    color: var(--branco-principal);
}

.lista__item{
    font-size: 2rem;
    color: var(--branco-principal);
}

.rodape {
    text-align: center;
    margin: 5em 3em;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.lista__link a:hover{
    color: var(--botao-azul);
}

.lista__link a{
    text-decoration: none;
    color: var(--branco-principal);
    margin-left: 1em; 
}

.rodape__texto {
    margin: 1em 0;
    color: var(--cinza-secundario);
    font-size: 0.87rem;
}